@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset css for system */
/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set default font for system */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}

/* Custom scroll bar */
/* ===== Scrollbar CSS ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
  user-select: unset;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
  user-select: unset;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 4px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar:horizontal {
  height: 12px;
}

html *::-webkit-scrollbar-thumb:horizontal {
  border-radius: 2px;
  background-color: #fff6;
}
/**
  * Custom Popover Antd
  */

.custom-popover-member-info .ant-popover-inner {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 8px !important;
}

.custom-popover .ant-popover-inner {
  padding: 0 !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  width: 380px !important;
  height: 430px !important;
}

.custom-popover .ant-popover-arrow {
  display: none;
}

/**
  * Custom Main TabUI Antd 
  */

.custom-tabs .ant-tabs-tab {
  @apply text-white;
  @apply text-sm;
  @apply font-semibold;
  @apply py-4;
}
.custom-tabs .ant-tabs-nav {
  @apply bg-gray-600 bg-opacity-50 backdrop-blur-sm;
  @apply backdrop-filter;
  @apply shadow-lg bg-black/50;
  @apply px-6;
}

.custom-tabs .ant-tabs-content {
  @apply overflow-x-scroll !important;
}

/**
  * Custom Template TabUI Antd 
  */
.custom-tabs-template .ant-tabs-tab {
  @apply text-white;
  @apply text-sm;
  @apply font-semibold;
  @apply py-4;
  @apply rounded-lg;
}
.custom-tabs-template .ant-tabs-nav {
  @apply bg-gray-600 bg-opacity-50 backdrop-blur-sm;
  @apply backdrop-filter;
  @apply shadow-lg bg-black/50;
  @apply px-6;
  @apply rounded-lg;
}

.custom-tabs-template .ant-tabs-content {
  @apply overflow-x-scroll;
  @apply rounded-lg;
}

/* Custom tab for AI Feature */
.custom-tabs-ai .ant-tabs-tab {
  @apply text-white;
  @apply font-semibold;
  @apply rounded-t !important;
  @apply text-sm !important;
}

.custom-tabs-ai .ant-tabs-nav {
  @apply bg-transparent !important;
  @apply backdrop-filter-none !important;
  @apply bg-transparent !important;
  @apply rounded-t-xl !important;
}

.custom-tabs-ai .ant-tabs-content {
  @apply rounded-xl !important;
}

.card-ai {
  border-radius: 10px !important;
  box-shadow: none;
  border-right: none !important;
  border: 2px solid #ededf1 !important;
}

/*  Custom css for width too large */
.scroll-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents the content from wrapping */
}

.scroll-content {
  display: inline-block; /* Ensures that the content remains inline */
}
/*  Custom css for modal antd */
.custom-modal-content .ant-modal-content {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 12px !important;
}

.custom-tabs .ant-tabs-tab-btn:focus,
.custom-tabs .ant-tabs-tab-btn:hover {
  @apply text-white;
}

/* Custom select */

.custom-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.custom-select .ant-select-arrow {
  display: none;
}

/**
  * Custom css for menu
  */
.custom-aside.ant-menu {
  background: transparent;
  @apply bg-gray-900 bg-opacity-50 backdrop-blur-lg;
}

.custom-aside .ant-menu-item,
.custom-aside .ant-menu-submenu-title {
  color: white !important;
}

.custom-aside .ant-menu-item:hover,
.custom-aside .ant-menu-item-active,
.custom-aside .ant-menu-submenu-title:hover,
.custom-aside .ant-menu-submenu-title-active {
  color: white !important;
  background-color: #1890ff !important;
}

.custom-aside .ant-menu-item-selected {
  color: white !important;
  background-color: #1890ff !important;
}

/*
  Custom css for table antd
*/

.ant-table-thead .ant-table-cell {
  background-color: #1890ff !important;
  color: white !important;
}

.even-row {
  background-color: #f9f9f9;
}

.odd-row {
  background-color: #ffffff;
}

/*
Custom CSS for button generate
*/

.btn-generate-ai {
  background-image: linear-gradient(to right, #77a1d3 0%, #79cbca 51%, #77a1d3 100%);
  margin: 10px;
  padding: 15px 45px;
  padding-left: 50px;
  padding-right: 23px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 8px;
  display: block;
}

.btn-generate-ai:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Custom css for skeleton */

.skeleton {
  @apply bg-gray-800;

  background-image: linear-gradient(110deg, #fff 8%, #f5f5f5 18%, #fff 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Custom css for calendar */

.demo-app {
  display: flex;
  min-height: 100%;
  font-family:
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

/* Custom CSS for Calendar Component */
.fc {
  padding: 16px 24px;
  background-color: white !important;
}

.fc-day-today {
  background: white !important;
}

.fc-daygrid-day-number {
  font-size: 12px;
  font-weight: 500;
  color: #3c4043;
}

.fc-day-today .fc-daygrid-day-number {
  padding: 2px 6px;
  font-size: small;
  font-weight: 700;
  background-color: #007bff;
  color: white;
  border-radius: 100%;
}

.fc-toolbar-title {
  font-size: 1.5em !important;
  font-weight: bold;
}

.fc-button-primary {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: #fff;
}

.fc-button {
  display: flex;
  width: 80px;
  text-align: center;
}

.fc-button-primary:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #fff;
  transition: all;
}

.fc-button-primary:not(:disabled).fc-button-active {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #fff;
}

.fc-col-header-cell-cushion {
  color: rgb(60, 64, 67) !important;
  font-weight: 500;
}

.fc-daygrid-day-events {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fc-event-draggable {
  border-radius: 4px !important;
  margin: 0 4px !important;
}

.fc-popover-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 400px;
  margin-bottom: 8px;
  overflow-y: scroll;
}

.fc-popover {
  border-radius: 8px !important;
  z-index: 10;
}
